.Router_nav-links {
  color: #fff;
  background-color: #272f3b;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  padding-right: 2em;
}

.Router_link {
  padding: 4px 8px;
}

.Router_link > a {
  color: inherit;
}
